body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.shape {
  margin: 50px 270px;
}
.navbar {
  display: flex;
  justify-content: space-around;
  padding: 0%;
  margin: 0px 0px;
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
  width: auto;
  /* border: #00b39b solid; */
}
header .logo {
  width: 220px;
}
header ul {
  display: flex;
  justify-content: space-around;
  text-transform: capitalize;
  list-style: none;
}
header li {
  padding: 0 10px;
}
ul a {
  text-decoration: none;
  color: #ababab;
}
ul a:hover {
  color: #00b39b;
}
#active-link {
  color: #00b39b;
}
.sub-ul {
  display: flex;
  flex-direction: column;
  padding: 5px 30px;
  top: 20px;
  right: -15px;
  border-radius: 10px;
  /* border: 1px solid #323d49; */
  background-color: rgb(255, 255, 255);
  position: absolute;
  width: 150px;
}
.Departement {
  position: relative;
}

.Departement:hover .sub-ul {
  display: block;
}
.sub-ul {
  display: none;
  box-shadow: 1px 0px 4px 0px;
}
.sub-ul a li {
  padding: 7px;
  color: #747474;
  /* border: 2px solid rgb(0, 0, 0); */
  margin: 5px -30px;
}
.sub-ul a :hover {
  color: #00b39b;
  background-color: #e7e7e7;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  position: sticky;
  padding: 20px 0;
}
.container1 {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
}
.logo-img {
  width: 60px;
}
.container1 h1 {
  color: #00b39b;
  font-size: 30px;
  font-weight: normal;
}
.container2 {
  display: flex;
  justify-content: space-evenly;
}
.container2 p {
  width: 50%;
  color: #747474;
  font-size: 17px;
}
.p-left {
  padding-right: 5px;
}
.p-right {
  padding-left: 5px;
}
/* second section */
.second-section {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
}
.card {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  border-radius: 10px;
  align-items: flex-start;
  width: 30%;
  padding: 25px 15px;
  color: white;
  margin: 10px;
}
.h3-padding {
  margin-bottom: 100px;
}
.turquoise {
  background-color: #00b39b;
  margin-left: 5px;
}
.blue {
  background-color: #5190e2;
}
.dark {
  background-color: #323d49;
  margin-right: 5px;
}

.brands {
  display: flex;
  justify-content: space-between;
}
.text-brands {
  width: 30%;
  color: #00b39b;
}
.img-brands {
  display: flex;
  width: 65%;
  justify-content: space-evenly;
  align-items: center;
}
.img-brands img {
  width: 80px;
  height: 80px;
}
.fourth-section {
  background-color: #def8f7;
  padding: 50px;
}
.first-section h1 {
  font-style: italic;
  font-weight: 1000;
}
/* section 3 */
.third-section {
  display: flex;
  justify-content: space-between;
  /* background-color: red; */
}

.left1 {
  color: #00b39b;
  width: 80%;
  padding-right: 1em;
  font-size: 1.625em;
  font-weight: lighter;
}

.right {
  width: 100%;
  margin-right: 30px;
}
.brands__logos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.brands__logos li {
  list-style: none;
}
/* fourth-section */

.fourth-section {
  height: 500px;
  background-color: #dff8f6;
  display: flex;
  justify-content: space-b;
}
.right-side {
  display: flex;
  align-items: flex-start;
}
.card1 {
  display: flex;
  justify-content: center;
  /* border: 1px solid #000; */
  flex-direction: column;
  margin-top: 50px;
}
.card2 {
  display: flex;
  justify-content: center;
  /* border: 1px solid #000; */
  flex-direction: column;
}

.four-cards div {
  /* border: 1px solid #000; */
  width: 200px;
  height: 210px;
  border-radius: 10px;
  background-color: white;
  margin: 10px;
  padding: 10px;
  text-align: center;
  box-shadow: 0px 0px 0px 0px rgb(169, 169, 169);
}
.left-side h2 {
  color: #00b39b;
  display: flex;
  justify-content: center;
}
.left-side {
  /* background-color: red; */
  margin-right: 50px;
  margin-left: 230px;
}
.right-side {
  /* background-color: rgb(255, 0, 242); */
  margin-right: 230px;
}
.left-side h2 {
  text-align: center;
}
/* section-6 */
.titre-5-1 h2 {
  color: #00b39b;
  margin-bottom: 20px;
  font-size: 30px;
}
.titre-5-1 {
  margin-top: 100px;
  margin-bottom: 100px;
  text-align: center;
  margin-left: 300px;
  margin-right: 300px;
  font-size: 20px;
}
.image-5-1 {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 20px;
}
.cadre {
  box-shadow: 0px 0px 10px 0px;
  padding: 1px;
  margin: 10px 0px;
}
.foot-image1 {
  display: flex;
  justify-content: space-between;
}
.foot-image1 button {
  font-size: small;
  background-color: #0863da;
  color: rgb(255, 255, 255);
  border-radius: 5px;
  padding: -15px 0pcz;
}
.foot-image1 button :hover {
  background-color: #5190e2;
}
/* section 7 */

.seventh-section {
  margin: 60px 0px;
}
.seventh-section h2 {
  text-align: center;
  font-size: xx-large;
}
.seventh-section button {
  display: flex;
  justify-content: center;
}
.boootton {
  background-color: blue;
  color: white;
  padding: 20px;
  border: #323d49;
}
.footer {
  box-shadow: 1px -1px 0px 0px;
}
.footer p {
  text-align: center;
  font-size: small;
  margin: 10px 400px;
  border-top: 10px;
  padding-top: 20px;
}
